.form-terms {
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  max-width: 220px;

  &__link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}
